<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>128</key>
	<dict>
		<key>use-international-sorting</key>
		<false/>
		<key>use-international-equality</key>
		<false/>
		<key>enable-help-tags</key>
		<true/>
		<key>default-unicode-export</key>
		<false/>
		<key>disable-version-check</key>
		<false/>
		<key>browser-window-button-right-margin</key>
		<integer>24</integer>
		<key>browser-window-search-button-gap</key>
		<integer>15</integer>
		<key>line-gap-for-small-text</key>
		<integer>6</integer>
		<key>vcenter-tweak-for-small-text</key>
		<integer>-1</integer>
		<key>line-gap-for-large-text</key>
		<integer>4</integer>
		<key>vcenter-tweak-for-large-text</key>
		<integer>-1</integer>
		<key>browser-window-minimum-width</key>
		<integer>842</integer>
		<key>browser-window-minimum-height</key>
		<integer>400</integer>
		<key>browser-window-minimum-list-width</key>
		<integer>150</integer>
		<key>miniplayer-minimum-width</key>
		<integer>288</integer>
		<key>info-window-minimum-width</key>
		<integer>472</integer>
		<key>info-window-maximum-width</key>
		<integer>472</integer>
		<key>info-window-minimum-title-width</key>
		<integer>90</integer>
		<key>view-options-window-minimum-width</key>
		<integer>235</integer>
		<key>default-source-width</key>
		<integer>185</integer>
		<key>localized-resources-version</key>
		<integer>7</integer>
		<key>win32-resource-text-encoding</key>
		<integer>0</integer>
		<key>activity-popover-minimum-width</key>
		<integer>370</integer>
		<key>search-popover-minimum-width</key>
		<integer>300</integer>
		<key>info-window-turn-on-equal-button-dimension</key>
		<true/>
		<key>one-group-album-turn-on-equal-button-dimension</key>
		<true/>
		<key>search-preview-turn-on-equal-button-dimension</key>
		<true/>
		<key>standard-item-details-turn-on-equal-button-dimension</key>
		<true/>
		<key>view-options-leading-title-width</key>
		<integer>84</integer>
		<key>view-options-trailing-popup-width</key>
		<integer>120</integer>
		<key>file-menu-use-new-submenu</key>
		<true/>
	</dict>
</dict>
</plist>
